{% extends "base.html" %} {% block content %}
<div class="container py-5">
  <h1 class="mb-4">Dinamik Home</h1>

  <p class="mb-4">Toplam ürün sayısı: {{ home_products|length }}</p>

  <div class="row">
    {% for product in home_products %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if product.image %}
        <img
          src="{{ product.image.url }}"
          class="card-img-top"
          style="height: 280px; object-fit: cover"
          alt="{{ product.name }}"
        />
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.price }} TL</p>
          <p class="card-text">{{ product.category.name }}</p>
        </div>
      </div>
    </div>
    {% empty %}
    <p>Ürün bulunamadı.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
