{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container my-5" style="max-width: 400px;">
    
    <div class="card shadow-sm p-4">
        
        <h2 class="mb-4 text-center">Giriş Yap</h2>

        <form method="post" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger text-center">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="id_username" class="form-label">Kullanıcı Adı</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Şifre</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>

            <button class="btn btn-primary w-100 mt-2" type="submit">
                Giriş Yap
            </button>
        </form>

        <p class="mt-4 text-center">
            Hesabınız yok mu?
            <a href="{% url 'accounts:register' %}" class="text-decoration-none fw-bold">
                Kayıt Ol
            </a>
        </p>

    </div>

</div>

{% endblock %}
