{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">{{ category.name }}</h1>

    <div class="row">
        {% for product in products %}

        <div class="col-md-4 mb-4">

            <!-- TÜM KART LINK -->
            <a href="{% url 'products:product_detail' product.slug %}" 
               class="text-decoration-none text-dark">

                <div class="card h-100">

                    {% if product.image %}
                    <img src="{{ product.image.url }}"
                         class="card-img-top"
                         style="height: 200px; object-fit: cover;"
                         alt="{{ product.name }}">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }} TL</p>
                    </div>

                </div>

            </a>

        </div>

        {% empty %}
        <p>Bu kategoride ürün bulunamadı.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}